bin/
Debug/
crash-info/
*.o
*.d
*.mk
.Target-Debug
.Target-Release
Target-Debug
Target-Release
Debug-Tizen-Emulator
Debug-Tizen-Device
DebugInfo
FBReader.htb
.settings
.sdk_delta.info
.rds_delta
.sign
